<svelte:options tag="animated-text"/>

<div class="atext">
    {@html textContent}
</div>

<style>
    .atext {
        overflow: hidden;
    }
</style>

<script>
    import {onMount} from "svelte";

    //////// PROPS / SETTINGS ////////////////

    // text for the component
    export let text;

    // transition time for the element
    export let transitionTime = 0.098

    // animation "from" direction(ie "from below", "from above", etc.)
    export let animDirection = "below"

    //////// GLOBAL VARS  ////////////////

    // all the re-laid out characters of the text. Need to use a string
    // due to commas getting added for some reason when using arrays.
    let textContent = "";

    // cache for all the nodes
    let nodes = null;

    // need to check that text is not undefined and has split function for dev, otherwise
    // hot-reload breaks in an ugly way.
    if(text && text.split){
        // split text into individual elements
        text = text.split("");
        text.forEach(char => {
            textContent += (`<span class="atext-char ${animDirection}">${char}</span>`)
        })

    }

    onMount(()=>{
        nodes = Array.prototype.slice.call(document.querySelectorAll(".atext-char"));

        // apply styles dynamically because elements need to be in the DOM onMount, otherwise it seems styles get stripped out.
        // can override with your own css.
        buildStyles(animDirection);
    })

    /**
     * Builds out initial styles for each of the characters
     * @param style
     */
    function buildStyles(style){
        switch (style){
            case "below":
                let below = `display:inline-block; transform:translate3d(0,100vh,0);`

                nodes.forEach((node,i) => {
                    // add transition offset.
                    let transition = `transition:transform ${transitionTime}s ease; transition-delay:${transitionTime * i}s`
                    node.style = below + transition;
                })
                break;

            case "top":
                let top = `display:inline-block; transform:translate3d(0,-100vh,0);`

                nodes.forEach((node,i) => {
                    // add transition offset.
                    let transition = `transition:transform ${transitionTime}s ease; transition-delay:${transitionTime * i}s`
                    node.style = top + transition;
                })

                break;
        }

    }


    /**
     * Animates the text in. Called from parent element.
     */
    export function revealText(){
        nodes.forEach(node => {
            node.style.transform = "translate3d(0,0,0)"
        })
    }


</script>