<section id="GL_SHADER" bind:this={canvasParent}>
    <canvas bind:this={canvas}></canvas>
</section>

<style>
    #GL_SHADER{
        width:100vw;
        height:100vh;
    }
</style>

<script>

    import {onMount} from "svelte";

    /// PROPS ///
    export let shader;

    export let textures = [];

    /// GLOBALS ///
    let canvas;
    let canvasParent;

    let glContext;

    // parent style
    let parentStyle;

    let uniforms = [];



    onMount(()=>{
        updateStyle();

        // if textures were submitted, send to GPU + generate uniform locations for each texture.
        if(textures.length > 0){
            textures = textures.map(tex => {
                return {
                    texture:createTexture(glContext,tex.image,tex.format)
                }
            })
        }
    })

    //////////// FUNCTIONS /////////////////////
    function setupGL(){
        glContext = canvas.getContext("webgl2");
        let vertices = [
            -1, -1, -1, 4, 4, -1
        ]



    }

    /**
     * If you need to update the parent element dimensions, call this function
     */
    export function updateParentDimensions(width,height){
        canvasParent.style.width = width;
        canvasParent.style.height = height;
    }

    function updateStyle(){
        parentStyle = window.getComputedStyle(canvasParent);

        // set canvas fullscreen
        canvas.width = parseInt(parentStyle.width);
        canvas.height = parseInt(parentStyle.height);
    }

    /////// GL METHODS ///////////

    /**
     * Initializes a texture. Assumes you will utilize for an image
     * @param gl {WebGL2RenderingContext} the WebGL2 context
     * @param image {HTMLImageElement} the image to use for the texture
     * @param format {Object} settings for how the texture should be created.
     */
    function createTexture(gl,image,format){
        let tex = gl.createTexture();

        gl.bindTexture(format.type,tex);

        // if we need to flip texture
        if(format.flipY){
            gl.pixelStorei(gl.UNPACK_FLIP_Y_WEBGL,format.flipY);
        }

        // set the image
        gl.texImage2D(format.target,format.level,format.internalFormat,image.width,image.height,0,format.format,format.texelType,image);

        // set min and mag filters
        gl.texParameteri(format.type,gl.TEXTURE_MAG_FILTER,format.magFilter);
        gl.texParameteri(format.type,gl.TEXTURE_MIN_FILTER,format.minFilter)

        //set wrapping
        gl.texParameteri(format.type,gl.TEXTURE_WRAP_S,format.wrapS)
        gl.texParameteri(format.type,gl.TEXTURE_WRAP_T,format.wrapT)

        // generate mipmaps if necessary
        if(format.generateMipMaps){
            gl.generateMipmap(format.type);
        }

        // ensure texture is unbound.
        gl.bindTexture(format.type,null);

        return tex;
    }

    /**
     * compiles a shader
     * @param gl {WebGL2RenderingContext} a WebGL context
     * @param shaderTypeName {string} the type of shader to compile. Should either be FRAGMENT or VERTEX.
     * @param source {string} the source for the shader.
     * @returns {WebGLShader}
     */
    function compileShader(gl, shaderTypeName,source){

        let shader = gl.createShader(type);


        gl.shaderSource(shader, source);
        gl.compileShader(shader);

        if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {

            if(this.name){
                console.error(`Error in ${shaderTypeName} shader compilation with "${this.name}" - ` + gl.getShaderInfoLog(shader) + `\n source was :\n ${source}`,true);
            }else {
                console.error(`Error in ${shaderTypeName} shader compilation with ${this.name} - ` + gl.getShaderInfoLog(shader), true);
                console.log(source)
            }

            // just halt execution if we run into an error.
            throw new Error("Shader error - see message");

        } else {
            return shader;
        }
    }
</script>