<section id="infinite-panel" bind:this={panels}>
    <slot>
        <em>No panel content supplied</em>
    </slot>
</section>

<style>
    #infinite-panel {
        position: absolute;
        top:0;
        left:0;
        height:100vh;
        width:100vw;
    }
</style>

<script>


    import {onMount} from "svelte";
    import VirtualScroll from "virtual-scroll"

    // reference to outermost component element
    let panels;

    // content within outermost element
    let panel_content = [];

    // bounding area for outermost element so we know when panels are out of view
    let bounding_box;

    // content within the panel
    let contents = null;

    // using https://github.com/ayamflow/virtual-scroll to handle
    // events but feel free to substitute your own handlers. 
    let vscroll = new VirtualScroll();

    onMount(() => {

        // calculate bounding area
        bounding_box = panels.getBoundingClientRect();

        // re-wrap everything into a "panel" container
        contents = Array.prototype.slice.call(panels.children);



    })

    vscroll.on(e => {
        if(contents){


            // this will almost certainly cause reflow but not sure of a better method at the moment.
            // that said it may not matter as long as there are a limited number of items.
            // Testing with 4 items and a logitech mouse with their magspeed wheel(essentially a free-spinning mouse wheel)
            // only resulted in a 4 fps drop when scrolling full tilt on a mid level system.
            // TODO is there a way to replicate this without causing reflow.
            contents.forEach(itm => {
                // check to see if the position is past the bounds of the parent
                let data = itm.getBoundingClientRect();

                if(data.top < (data.height * -1)){
                    // when item is not viewable, remove it then re-append it to the end.
                    panels.removeChild(itm);
                    panels.appendChild(itm);
                }

                // TODo handle opposite direction
            })


        }
    })

    window.addEventListener("resize",() => {
        // calculate bounding area
        bounding_box = panels.getBoundingClientRect();

    })
</script>