<main>


    <div id="APP">

        <FragShader shader="/test.glsl"/>

    </div>

</main>

<style>

    h1 {
        font-size:290px;
    }
</style>
<script>

    import {onMount} from 'svelte'
    import InfinitePanels from "./components/infintepanel.svelte"
    import AnimatedText from "./components/animatedText.svelte";
    import vertex from "./components/shaders/test.vert"
    import FragShader from "./components/fragshader.svelte"

    let trigger = false;

    // on mount handler.
    onMount(()=>{


    })

    window.addEventListener("keydown",() => {

        //trigger.revealText();
    })


/*
 <AnimatedText text="apple" bind:this={trigger}/>
        <InfinitePanels>
            <slot>
                <h1>Test1</h1>
                <h1>Test2</h1>
                <h1>Test3</h1>
                <h1>Test4</h1>
            </slot>
        </InfinitePanels>
 */

</script>